<!DOCTYPE html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="demoTodo">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Web App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html {
            overflow-y: scroll;
        }

        body {
            padding-top: 50px;
        }

        #todo-list {
            margin-bottom: 30px;
        }
    </style>

    <!-- SPELLS -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">
     
  <!-- Begin page content -->
  <div class="container">
    <div class="jumbotron page-header text-center">
      <h1>Page Loaded From:</h1>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 text-center">
    		<p class="lead"><%= hostname%></p>
	  </div>
      <div class="col-md-5 text-center">
        <p class="lead"><%= ipaddress%></p>
      </div>
      <div class="col-md-1"></div>
	</div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
  </div>
    <div class="row"><div class="col-md-12"><br></div></div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2" style="text-align:center">
        <button type="button" class="btn btn-info" onClick="window.location.reload()">Get New Page</button>
        
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="row"><div class="col-md-12"><br></div></div>
  </div>
  


<div id="footer">
  <div class="container">
    <p class="text-muted credit">A test Node.js application, checked into GitLab, built by Jenkins, running on an Ubuntu server configured by Puppet. All on Azure Stack.</p>
  </div>

</body>
</html>